body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

a {
  color: #00B7FF;
}

h3 {
  margin-left: 20px;
  color: #616161;
}

.brand-logo {
  display:inline;
  margin-left: 20px;
}

main {
  flex: 1 0 auto;
}

