body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

a {
  color: #00B7FF;
}

h3 {
  margin-left: 20px;
  color: #616161;
}

.brand-logo {
  display:inline;
  margin-left: 20px;
}

main {
  flex: 1 0 auto;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
}

#mapid { height: 500px; }

.chart-legend li span{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

html, body {
  height:100%
}

.activeButton {
  color: white;
  background-color: #e57373;
}
.activeButton:hover {
  color: white;
  background-color: #e57373;
}

.nonActiveButton {
  color: grey;
  background-color: #e0e0e0;
}
.nonActiveButton:hover {
  color: white;
  background-color: #e57373;
}


.profileIconBar {
  padding-bottom: 10px;
}
.profileFaceImg {
  width:50%;
}
.profileName {
  padding-top: 10px;
}

.aboutHeader {
  color: #616161;
}

.aboutText {
  color: #616161;
  min-height: 75px;
  padding-left: 5px;
  padding-right: 5px;
}
.top-topic {
  font-size: 20px;
}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: red;
}
.capitalize {
  display: inline-block;
}
.capitalize::first-letter {
  text-transform: uppercase;
}

.topicTitle {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.rankNumber {
  font-size: 75px;
  color: #e57373;
}