body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

a {
  color: #00B7FF;
}

h3 {
  margin-left: 20px;
  color: #616161;
}

.brand-logo {
  display:inline;
  margin-left: 20px;
}

main {
  flex: 1 0 auto;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
}

#mapid { height: 500px; }

.chart-legend li span{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

html, body {
  height:100%
}

.activeButton {
  color: #e57373;
  background-color: #e57373;
}