<div ng-show="cityDataLoaded">
    <div class="row ">
        <div class="col s2 grey lighten-2" style="min-height:150px" >
            <div class="wow fadeInDown">
                <h5 class="text-center center-align">City</h5>
                <h5 class="text-center center-align red-text lighten-2"><b>{{cityData.name}}</b></h5>
            </div>
        </div>

        <div class="col s2 grey lighten-2" style="min-height:150px">
            <div class="wow fadeInDown">
                <h5 class="text-center center-align">Latitude</h5>
                <h5 class="text-center center-align red-text lighten-2"><b>{{cityData.lat}}</b></h5>
            </div>
        </div>

        <div class="col s2 grey lighten-2" style="min-height:150px">
            <div class="wow fadeInDown">
                <h5 class="text-center center-align">Longitude</h5>
                <h5 class="text-center center-align red-text lighten-2"><b>{{cityData.lon}}</b></h5>
            </div>
        </div>

        <div class="col s2 grey lighten-2" style="min-height:150px">
            <div class="wow fadeInDown">
                <h5 class="text-center center-align">State</h5>
                <h5 class="text-center center-align red-text lighten-2"><b>{{cityData.stateFull}}</b></h5>
            </div>
        </div>

        <div class="col s4 grey lighten-2" style="min-height:150px">
            <div class="wow fadeInDown text-center center-align">
                <img class="text-center center-align red-text lighten-2" style= "margin-top:10px" src= {{cityData.imgURL}}>
            </div>
        </div>
    </div>

</div>

<p class="text-center center-align" ng-hide="categoryDataLoaded">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
</p>

<div class="row">
    <div class="col s2 ">
        <h5 class="text-center center-align"><b>Legend</b></h5>
        <div id="pieChartLegend" class="chart-legend"></div>
    </div>
    <div class="col s4 ">
        <h5 class="text-center center-align"><b>City Interests</b></h5>
        <canvas class="text-center" id="pieChart" width="400" height="400"></canvas>
        <br>
        <div ng-show="categoryDataLoaded" class="text-center center-align">
            <a class="waves-effect waves-light btn" ng-click="pieFilter = 'Today';reloadPieChart()"  ng-class="{activeButton:pieFilter == 'Today', nonActiveButton:pieFilter != 'Today'}">Today</a>
            <a class="waves-effect waves-light btn " ng-click="pieFilter = 'Month';reloadPieChart()" ng-class="{activeButton:pieFilter == 'Month', nonActiveButton:pieFilter != 'Month'}">Month</a>
            <a class="waves-effect waves-light btn " ng-click="pieFilter = 'Year';reloadPieChart()" ng-class="{activeButton:pieFilter == 'Year', nonActiveButton:pieFilter != 'Year'}">Year</a>
            <a class="waves-effect waves-light btn " ng-click="pieFilter = 'Complete';reloadPieChart()" ng-class="{activeButton:pieFilter == 'Complete', nonActiveButton:pieFilter != 'Complete'}">History</a>

        </div>
        <br>

    </div>


    <div class="col s4 ">
        <h5 class="text-center center-align"><b>Historic Trends</b></h5>
        <canvas class="text-center" id="lineChart" width="400" height="400"></canvas>
    </div>

    <div class="col s2 ">
        <h5 class="text-center center-align"><b>Trending Topics</b></h5>
        <div ng-show="topicCacheDataLoaded" class="wow slideInRight">
            <ol>
                <li ng-repeat="topic in topicCacheDataArr | orderBy:'-score':reverse | limitTo:10"> <div class="capitalize"><a href={{topic.url}}> {{topic.topic}}</a></div></li>
            </ol>
        </div>
    </div>
</div>



