<br></br>
<div class="row ">
    <div class="col s4 grey lighten-2">
        <div class="wow fadeInDown">
            <h5 class="text-center center-align"><i class="fa fa-map-pin fa-2x" style="color:#e57373"></i></h5>
            <h5 class="text-center center-align"><b>Discover Places</b></h5>
            <p style="min-height:60px" class="text-center center-align">We make it easier than ever to find a city that fits your interests. </p>
        </div>
    </div>

    <div class="col s4 grey lighten-2">
        <div class="wow fadeInDown" data-wow-delay=".5s">
            <h5 class="text-center center-align"><i class="fa fa-line-chart fa-2x" style="color:#e57373"></i></h5>
            <h5 class="text-center center-align"><b>View Trends</b></h5>
            <p style="min-height:60px" class="text-center center-align">Learn about the interest trends for cities. We can tell you how a city is changing.</p>
        </div>
    </div>

    <div class="col s4 grey lighten-2">
        <div class="wow fadeInDown" data-wow-delay="1s">
            <h5 class="text-center center-align"><i class="fa fa-pie-chart fa-2x" style="color:#e57373"></i></h5>
            <h5 class="text-center center-align"><b>See Interests</b></h5>
            <p style="min-height:60px" class="text-center center-align">Learn about the current 'pulse' of the city. We know whats popular, right now. </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s3 ">
        <h5 class="text-center center-align"><b>Weekly Trending Topics USA</b></h5>
        <div ng-show="topicTrendDataLoaded" class="wow slideInLeft">
            <ol>
                <li class="top-topic" ng-repeat="topic in topicCacheDataArr | orderBy:'-score':reverse | limitTo:10"> <div class="capitalize"><a href={{topic.url}}> {{topic.topic}}</a></div></li>
            </ol>
        </div>
    </div>

    <div class="col s6">
        <div id="mapid" style="width:100%; margin-left:auto; margin-right:auto;"></div>
        <div><p style="text-align: center; color:#616161">We support all cities displayed above.</p></div>
    </div>

    <div class="col s3">
        <p class="text-center center-align" ng-hide="dataLoaded" >
            <i class="fa fa-refresh fa-spin fa-5x"></i>
        <h5 class = "text-center center-align" ng-hide="dataLoaded"><b>Loading City List</b></h5>
        </p>

        <div ng-show="dataLoaded" class="wow fadeInUp">
            <div class="center-align" style="font-size: 20px;">
                <a class='dropdown-button btn red lighten-2 ' href='#' data-activates='dropdown1'>Select a City</a>
                <ul id='dropdown1' class='dropdown-content '>
                    <div ng-repeat="city in cityListData | orderBy : 'name'">
                        <li><a href="city/{{city.code}}" class="red-text lighten-2">{{city.name +  " - " + city.state}}</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</div>







<script>
    // Necessary for activating the dropdown
    $('select').material_select();
    $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: true, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left' // Displays dropdown with edge aligned to the left of button
            }
    );
</script>